
#info {
    position: relative;
    margin: auto;
    width: 800px;
    top: 100px;
    z-index: 1;
}
#info p {
    text-align: justify;
}
#contact {
    position: relative;
    top: 290px;
    z-index: 1;
}